.arrow-down {
    position: absolute;
    bottom: 6%;
    cursor: pointer;
    font-size: 25px;
    animation: bounce 1s infinite;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #000;
}

.arrow-down span {
    transform: rotate(90deg);
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
    }
  }