header {
    margin-top: 60px;
    margin-left: 30px;
}

header span {
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 3px;
}

header > span {
    padding: 5px 0 5px 5px;
}

.arrow-back {
    transform: rotate(180deg);
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}

.inline-flex {
    display: inline-flex;
    align-items: center;
}

span.text {
    padding: 0 20px;
}

@media (max-width: 834px) {

    header span.text {
        font-size: 23px;
    }
}

@media (max-width: 768px) {

    header {
        margin-top: 45px;
    }

    header span.text {
        font-size: 21px;
    }
}

@media (max-width: 568px) {

    header span.text {
        font-size: 19px;
        font-weight: 600;
        padding: 0 12px;
    }

    header {
        margin-left: 15px;
        margin-top: 40px;
    }
}

@media (max-width: 414px) {

    header span.text {
        font-size: 17px;
        padding: 0 10px;
    }

    header {
        margin-left: 10px;
    }
}