* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.black {
  background-color: #000;
  color: #fff;
}

.white {
  background-color: #fff;
  color: #000;
}
.d-flex {
  display: flex;
}

.progress-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* for IE 9 */
  -webkit-transform: translate(-50%, -50%); /* for Safari */
}

body {
  max-width: 100%;
}
